html
  head
    title File Metadata Microservice
    link(rel='stylesheet', href='/public/style.css')
  body
    main
        h3 Uploaded File Metadata
        table
          tr
            th Filename:
            td=name
          tr
            th File type:
            td=type
          tr
            th File size:
            td=size