html
  head
    title="Timestamp Microservice"
    link(rel='stylesheet', href='/public/style.css')
  body
    main
        h3 Timestamp Microservice
        table
          tr
            th Unix:
            td=unix
          tr
            th UTC:
            td=utc
